<div class="container mt-5">
  <form enctype="multipart/form-data" method="post" name="submission">
    <label>User Id:</label>
    <input type="text" name="username" placeholder="user-id" required class="form-control">
    <label>Example Id:</label>
    <input type="text" name="example" placeholder="example-id" required class="form-control">
    <label>Your Sourcecode: </label>
    <input type="file" class="form-control" name="code" accept=".java" multiple required>
    <input type="submit" (click)="upload()" value="Test your Code">
  </form>
</div>
