<div class="container mt-5">
  <form enctype="multipart/form-data" method="post" name="createExample">
    <label>Name of the Example:</label>
    <input type="text" name="exampleName" placeholder="Example Name" required class="form-control">
    <label>Instruction File: </label>
    <input type="file" name="instruction" placeholder="Instruction" required accept=".md" class="form-control">
    <label>POM: </label>
    <input type="file" name="pom" placeholder="POM" required accept=".xml" class="form-control">
    <label>Correct Sourcecode Files: </label>
    <input type="file" class="form-control" name="solution" accept=".java" multiple required>
    <label>Test Files: </label>
    <input type="file" class="form-control" name="test" accept=".java" multiple required>
    <input type="submit" (click)="upload()" value="Test your Code">
  </form>
</div>
